{% if e.info.type == 'PushEvent' %}

    <p class="event-title">pushed {{ e.info.amount }}
    {% if e.info.amount == 1 %}commit{% else %}commits{% endif %}
    to {{ e.info.branch }} at <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>


    <ul>
        {% for c in e.info.commits %}
        <li class="event">
            <a href="https://github.com/{{ e.info.repo }}/commit/{{ c.sha }}">
                <span class="event" title="{{ c.message }}">
                    {{ c.message|truncate(length=100) }}
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>

{% elif e.info.type == 'WatchEvent' %}

    <p class="event-title">{% if e.info.action == 'started' %}starred{% else %}unstarred{% endif %}
     <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

{% elif e.info.type == 'FollowEvent' %}

    <p class="event-title">followed <a href="https://github.com/{{ e.info.user }}">{{ e.info.user }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

{% elif e.info.type == 'IssuesEvent' %}

    <p class="event-title">{{ e.info.action }} issue <a href="https://github.com/{{ e.info.repo }}/issues/{{ e.info.number }}">#{{ e.info.number }}</a>
    on <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

    <ul>
        <li class="event">
            <a href="https://github.com/{{ e.info.repo }}/issues/{{ e.info.number }}">
                <span class="event" title="{{ e.info.title }}">
                    {{ e.info.title|truncate(length=100) }}
                </span>
            </a>
        </li>
    </ul>

{% elif e.info.type == 'CreateEvent' %}

    <p class="event-title">created new {{ e.info.ref_type }} 

        {% if e.info.ref_type == 'repository' %}

            at <a href="https://github.com/{{ e.info.repo }}/">{{ e.info.repo }}</a>

        {% elif e.info.ref_type in ('branch', 'tag') %}

            <a href="https://github.com/{{ e.info.repo }}/tree/{{ e.info.ref }}">{{ e.info.ref }}</a>
            at <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>

        {% endif %}
        <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span>
    </p>

{% elif e.info.type == 'DeleteEvent' %}

    <p class="event-title">deleted branch {{ e.info.ref }} at <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

{% elif e.info.type == 'ForkEvent' %}

    <p class="event-title">forked <a href="https://github.com/{{ e.info.forked_from }}">{{ e.info.forked_from }}</a>
    to <a href="https://github.com/{{ e.info.fork }}">{{ e.info.fork }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

{% elif e.info.type == 'PullRequestEvent' %}

    <p class="event-title">{{ e.info.action }} pull request <a href="https://github.com/{{ e.info.repo }}/pull/{{ e.info.number }}">
    #{{ e.info.number }}</a> on <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

{% elif e.info.type == 'IssueCommentEvent' %}

    <p class="event-title">commented on issue <a href="https://github.com/{{ e.info.repo }}/issues/{{ e.info.number }}#issuecomment-{{ e.info.comment_id }}">#{{ e.info.number }}</a> at <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

    <ul>
        <li class="event">
            <a href="https://github.com/{{ e.info.repo }}/issues/{{ e.info.number }}#issuecomment-{{ e.info.comment_id }}">
                <span class="event" title="{{ e.info.comment }}">
                    {{ e.info.comment|truncate(length=100) }}
                </span>
            </a>
        </li>
    </ul>

{% elif e.info.type == 'GistEvent' %}

    <p class="event-title">{{ e.info.action }}d gist <a href="{{ e.info.gist_url }}">#{{ e.info.gist_id }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>


{% elif e.info.type == 'PullRequestReviewCommentEvent' %}

    <p class="event-title">reviewed pull request <a href="https://github.com/{{ e.info.repo }}/pull/{{ e.info.number }}">
    #{{ e.info.number }}</a> on <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

    <ul>
        <li class="event">
            <a href="{{ e.info.url }}">
                <span class="event" title="{{ e.info.comment }}">
                    {{ e.info.comment|truncate(length=100) }}
                </span>
            </a>
        </li>
    </ul>


{% elif e.info.type == 'GollumEvent' %}

    <p class="event-title">{{ e.info.action}} wiki page entitled <a href="{{ e.info.url }}">'{{ e.info.name }}'</a> at <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>

    {% if e.info.amount != 0 %}
        (and touched {{ e.info.amount }} more)
    {% endif %}

    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>


{% elif e.info.type == 'CommitCommentEvent' %}

    <p class="event-title">commented on commit <a href="https://github.com/{{ e.info.repo }}/commit/{{ e.info.commit_id }}">
        {{ e.info.commit_id|truncate(length=7, killwords=True, end='') }}</a> at <a href="https://github.com/{{ e.info.repo }}">{{ e.info.repo }}</a>
    <span class="timestamp"><time class="timeago" datetime="{{ e.time }}" title="{{ e.time }}">{{ e.time }}</time></span></p>

    <ul>
        <li class="event">
            <a href="{{ e.info.url }}">
                <span class="event" title="{{ e.info.comment }}">
                    {{ e.info.comment|truncate(length=100) }}
                </span>
            </a>
        </li>
    </ul>


{% endif %}

