<!doctype html>
<html>
<head>
    <title>{{ config.TITLE }}</title>

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block head %}{% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26424587-1']);
      _gaq.push(['_setDomainName', 'buttscicl.es']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>

    <div id="container">

        <div id="left-panel" class="panel">
            <a href="{{ url_for('index') }}"><h1>buttscicles</h1></a>

            <h2 class="list-header">places</h2>
            <ul>
                <li><a href="https://github.com/buttscicles/">github</a></li>
                <li><a href="https://twitter.com/buttscicles">twitter</a></li>
                <li><a href="http://www.reddit.com/user/buttscicles">reddit</a></li>
                <li><a href="http://www.last.fm/user/buttscicles">last.fm</a>
                <li><a href="https://steamcommunity.com/id/buttscicles/">steam</a>
            </ul>

            <h2 class="list-header">things</h2>
            <ul>
                <li><a href="http://paste.buttscicl.es/">pastebin</a></li>
                <li><a href="https://github.com/buttscicles/brook/">brook</a></li>
            </ul>

        </div>


        <div id="right-panel" class="panel">
            {% block body %}{% endblock %}
        </div>


    </div>

</body>
</html>