{% extends "layout.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/timeago.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/brook.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <ul id="brook">
        {% for e in events %}
            <li class="wrap-event {{ e.service }}">
                <div>
                    {% include ['services/' + e.service + '.html'] ignore missing %}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}